#for DSSCOMP
/dev/dsscomp              0666   system     system
/dev/tiler                0666   system     system
/dev/dmm                  0777   system     system
/dev/ion                  0777   system     system

/dev/rpmsg-omx0           0666   drmrpc    drmrpc
/dev/rpmsg-omx1           0666   drmrpc    drmrpc
/dev/rproc_user           0666   drmrpc    drmrpc
/dev/tf_driver            0666   drmrpc    drmrpc
/dev/tf_ctrl              0666   drmrpc    drmrpc

/dev/pvrsrvkm             0666   system     system
/dev/video0               0666   system     camera
/dev/video1               0666   system     camera
/dev/video2               0666   system     camera

# for Sensor HAL
/dev/accelerometer        0666   system     system

# iio devices
/dev/iio:device*          0660   system     system

/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    compass_enable         0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    compass_enable         0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    accl_enable            0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    gyro_enable            0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    gyro_enable            0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    sampling_frequency     0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    dmp_event_int_on       0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    quaternion_on          0660    system    system

/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    trigger/current_trigger          0660    system    system

/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    power_state                      0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    buffer/enable                    0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    buffer/length                    0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    firmware_loaded                  0660    system    system

/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    dmp_firmware                     0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    dmp_on                           0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    dmp_int_on                       0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    dmp_output_rate                  0660    system    system

/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    scan_elements/in_accel_x_en      0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    scan_elements/in_accel_y_en      0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    scan_elements/in_accel_z_en      0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    scan_elements/in_anglvel_x_en    0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    scan_elements/in_anglvel_y_en    0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    scan_elements/in_anglvel_z_en    0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    scan_elements/in_magn_x_en       0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    scan_elements/in_magn_y_en       0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    scan_elements/in_magn_z_en       0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    scan_elements/in_quaternion_r_en 0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    scan_elements/in_quaternion_x_en 0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    scan_elements/in_quaternion_y_en 0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    scan_elements/in_quaternion_z_en 0660    system    system
/sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0068/iio:device*    scan_elements/in_timestamp_en    0660    system    system

/dev/fwram                0666   system     system

#for GCX (but not needed on 4430)
/dev/gcioctl              0666   system     system

/dev/ttyO1                0666   bluetooth  bluetooth
